<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Užrašai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        form { margin-bottom: 20px; }
        textarea, button { padding: 10px; }
        button { cursor: pointer; }
        ul { list-style-type: none; padding: 0; }
        li { margin: 5px 0; }
    </style>
    <a href="{{ url_for('index') }}" class="main-page-button">Pagrindinis puslapis</a>
</head>
<body>
    <h1>Įveskite naują užrašą</h1>
    <form action="/uzrasai" method="POST">
        <textarea name="uzrasas" required placeholder="Jūsų užrašas čia"></textarea>
        <input type="hidden" name="user_name" value="{{ session.username }}">
        <button type="submit">Pridėti užrašą</button>
    </form>
    <h2>Išsaugoti užrašai:</h2>
    <ul>
        {% for uzrasas in uzrasai %}
            <li>{{ uzrasas.content }} - <em>sukurtas: {{ uzrasas.created_at }}</em> by {{ uzrasas.user_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>